
/node_modules

# These files most likely will contain credentials and sensitive data, it should not be
# exposed in any version control hosting provider(Github, Gitlab...)

# .env
# /config/development.json
# /config/staging.json
# /config/production.json